/style.css/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 10;
    min-height: 100vh;
    background: #b95395;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #188687;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 100px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color:rgb(65, 37, 112);
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #58309d;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    color: rgb(148, 52, 52);
    cursor: pointer;
    background-color: #2eac35;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}